* {
  box-sizing: border-box;
  padding: 0.1px;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: fit-content;
  background-color: cyan;
}

nav a {
  padding: 10px;
  font-family: cursive;
  font-style: italic;
  font-weight: bolder;
  font-size: 20px;
}

nav a:hover {
  color: gold;
}

.header {
  margin: 0 auto;
  overflow: hidden;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQajghI2JXcVh47W44zvE0pQrrmZGZ6QP2LEw&usqp=CAU);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header h1 {
  font-size: 65px;
  font-family: "Times New Roman", Times, serif;
  color: whitesmoke;
}

h2 {
  font-size: 40px;
  text-align: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.pagesection2 {
  color: white;
  font-size: 25px;
  font-weight: bolder;
  text-align: center;
  background-image: url(https://wallpapercave.com/wp/wp2641466.jpg);
  background-size: 100%;
}

.pagesection3 {
  color: #d9dcd6;
  text-align: center;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQajghI2JXcVh47W44zvE0pQrrmZGZ6QP2LEw&usqp=CAU);
  background-size: 100%;
  height: auto;
}

.pagesection3 img {
  height: 20%;
  width: 35%;
}

footer {
  display: flex;
  font-family: cursive;
  justify-content: center;
  flex-direction: row;
  font-size: 25px;
  width: 100%;
  left: 0;
  bottom: 0;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQajghI2JXcVh47W44zvE0pQrrmZGZ6QP2LEw&usqp=CAU);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: white;
  font-family: monospace;
}

.em-baseball {
  margin-right: 15x;
  margin-left: 15px;
}
