* {
  box-sizing: border-box;
  padding: 0.1px;
}

nav {
  border: black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

nav a {
  padding: 10px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bolder;
  font-size: 20px;
  color: cyan;
}

nav a:hover {
  color: gold;
}

p {
  line-height: 45px;
}

.header {
  border: 14px solid #555;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  background-image: url(https://cdn.shopify.com/s/files/1/2930/2308/products/deep-gray-printed-old-master-solid-background-for-photography-backdrop_1024x1024.jpg?v=1535707898);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header h1 {
  font-size: 85px;
  font-family: "Times New Roman", Times, serif;
  color: whitesmoke;
}

h2 {
  font-size: 40px;
  text-align: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.pagesection3 {
  background-size: 100% 100%;
  border: 8px solid #555;
  display: flex;
  flex-direction: column;
  padding: 20px;
  color: white;
  font-size: 27px;
  font-weight: bolder;
  text-align: center;
  background-image: url(https://cdn.shopify.com/s/files/1/2930/2308/products/deep-gray-printed-old-master-solid-background-for-photography-backdrop_1024x1024.jpg?v=1535707898);
}

.pagesection3 img {
  border: 8px solid #555;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

#one {
}

#two {
  max-width: 40%;
}

#three {
  max-width: 3%;
}

footer {
  border-top: ridge;
  display: flex;
  font-family: cursive;
  justify-content: center;
  flex-direction: row;
  font-size: 25px;
  width: 100%;
  left: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: white;
  font-family: monospace;
}

.em-baseball {
  margin-right: 15x;
  margin-left: 15px;
}

@media screen and (max-width: 480px) {
}

@media screen and (max-width: 780px) {
}
@media screen and (max-width: 1020px) {
}

